li {
   list-style-type: none;
	text-decoration: none;
}

a:link {
   text-decoration: none;
	color: black;
}

a:visited {
   text-decoration: none;
	color: black;
}

a:hover {
   text-decoration: none;
	color: black;
}

a:active {
   text-decoration: none;
	color: white;
}

.active {
	color: white;
	background-color: black;
}

.navbar-collapse collapse {
	background-color: gray;
}
