.navbar {
	background-color: black;
	height: 30px;
	width: auto;
}

.active {
	background-color: gray;
}

#aboutMeBox {
	background-color: black;
	display: flex;
	flex-direction: row;
	color: white;
	padding: 10px;
}

img {
	width: 250px;
	height: 300px;
}

#aboutMeDisplay {
	background-color: slategray;
	display: flex;
	flex-direction: row;
	color: white;
	visibility: "collapse";
	padding: 10px;
}

#photosBox {
	background-color: black;
	display: flex;
	flex-direction: row;
	color: white;
	padding: 10px;
}

#photosDisplay {
	background-color: slategray;
	display: flex;
	flex-direction: row;
	color: white;
	visibility: "collapse";
	padding: 10px;
}


a:hover {
	color: gray;
	padding: 10px;
	text-decoration: underline;
}

a:active {
	color: white;
	padding: 10px;
	text-decoration: underline;
}

a:visited {
	color: white;
	padding: 10px;
	text-decoration: none;
}

a:link {
	color: white;
	padding: 10px;
	text-decoration: none;
}

canvas {
  border: 1px solid black;
}