.navbar {
	background-color: black;
	height: 30px;
	width: auto;
}

.active {
	background-color: gray;
}

a:hover {
	color: gray;
	padding: 10px;
	text-decoration: underline;
}

a:active {
	color: white;
	padding: 10px;
	text-decoration: underline;
}

a:visited {
	color: white;
	padding: 10px;
	text-decoration: none;
}

a:link {
	color: white;
	padding: 10px;
	text-decoration: underline;
}